@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Конструкции сталефибробетонные</h1>
    <p>Расчет конструкций из сталефибробетона по <b>СП 360.1325800.2017</b></></p>
</div>
